.loader {
  animation-timing-function: cubic-bezier(0.4, 0.86, 0.7, 0.2);
}

.loader-2__left {
  animation: positionAnimateLeft 2s infinite alternate
    cubic-bezier(0.22, 0.74, 0.77, 0.25);
}
.loader-2__right {
  animation: positionAnimateRight 2s infinite alternate
    cubic-bezier(0.22, 0.74, 0.77, 0.25);
  background: rgba(204, 251, 241, 0.4);
}

@keyframes positionAnimateLeft {
  from {
    transform: translate(5rem);
  }
  to {
    transform: translate(0rem);
  }
}
@keyframes positionAnimateRight {
  from {
    transform: translate(-5rem);
  }
  to {
    transform: translate(0rem);
  }
}

.loader-3 > .block {
  animation: blockAnimate 1.5s infinite alternate
    cubic-bezier(0.25, 0.99, 0.93, 0.06);
}

@keyframes blockAnimate {
  from {
    transform: translate(4rem);
  }
  to {
    transform: translate(0rem);
  }
}

.loader-4 > .block {
  animation: blockAnimateHorizontal 2s infinite
    cubic-bezier(0.3, 1.01, 0.59, 1.16);
  box-shadow: 4px 4px 10px rgba(32, 32, 32, 0.2);
}

.loader-5 > .block {
  animation: loader5AnimateHorizontal 1s infinite
    cubic-bezier(0.3, 1.01, 0.8, 1.43);
  box-shadow: 4px 4px 10px rgba(32, 32, 32, 0.2);
  transform: translateY(1rem);
}

@keyframes blockAnimateHorizontal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(1.5rem, 1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes loader5AnimateHorizontal {
  0% {
    transform: translateY(-0.2rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}

/* delaying individual blocks */

.loader > .block-1 {
  animation-delay: 150ms;
}
.loader > .block-2 {
  animation-delay: 300ms;
}
.loader > .block-3 {
  animation-delay: 450ms;
}
.loader > .block-4 {
  animation-delay: 600ms;
}
.loader > .block-5 {
  animation-delay: 750ms;
}
